
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec

venv/
env/
ENV/
.venv/
.ENV/
*.venv

*.log
*.sqlite3
instance/
*.db

.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
htmlcov/
.tox/
.mypy_cache/
.dmypy.json
.pyre/

.vscode/
.idea/
*.swp
*.swo


build/
dist/
*.tar.gz
*.whl

.env
.env.*
